<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="easyui/themes/icon.css">
	<script type="text/javascript" src="easyui/jquery.min.js"></script>
	<script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="easyui/locale/easyui-lang-zh_CN.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
</head>
<body class="easyui-layout" style="background: no-repeat;background-size: 100%;">
		<div id="w" class="easyui-window" title="管理员重置密码" collapsible="false"
			minimizable="false" maximizable="false" icon="icon-save"
			style="width: 450px; height: 330px; padding: 30px; background: #fafafa;"
			data-options="closable:false,draggable:false">
			<form id="replace" action="manage.html">
			<!-- menulogin -->
				<div style="margin-bottom: 20px">
					<input v-model="aname" id="aname" 
					class="easyui-textbox" 
						prompt="usercode" iconWidth="28" 
						data-options="label:'用户名:',required:true"
						style="width: 300px; height: 34px; padding: 10px;">
				</div>
				<div style="margin-bottom: 20px">
					<input v-model="oldapwd" id="oldapwd" 
					 class="easyui-passwordbox" 
						prompt="password" iconWidth="28"
						data-options="label:'旧密码:',required:true"
						style="width: 300px; height: 34px; padding: 10px">
				</div>
			
				<div style="margin-bottom: 20px">
					<input v-model="apwd" id="apwd" 
					 class="easyui-passwordbox" 
						prompt="password" iconWidth="28"
						data-options="label:'密码:',required:true"
						style="width: 300px; height: 34px; padding: 10px">
				</div>
			<div style="text-align: center; padding: 5px 0">
				<a @click="replace" id="repbtn" style="vertical-align:middle ;width: 80px"
					class="easyui-linkbutton" ><span>确定</span></a>
				<a href="manage.html" id="registerbtn" style="vertical-align:middle ;width: 80px"
					class="easyui-linkbutton" ><span>退出</span></a>
				
			</div>
			</form>
		   
		</div>
	</body>
	<script type="text/javascript">
	    var v = new Vue({
	    	el : "#replace",
	    	data : {
	    		aname: "",
	    		oldapwd:"",
	    		apwd : "",
	    		ret : 0
	    	},
	    	methods : {
	    		replace(){
	    			// post 请求 发送的数据量没有限制
	    			var p = new URLSearchParams(); //用于封装post请求参数
	    			//p.append("参数名","参数值");
	    			p.append("aname",$("#aname").textbox("getValue"));
	    			p.append("oldapwd",$("#oldapwd").textbox("getValue"));
	    			p.append("apwd",$("#apwd").textbox("getValue"));
	    			axios.post("admin.s?op=replace",p).then(res=>{
	    				this.ret = res.data;
		    			if(this.ret==1){
		    				alert("修改密码成功");
		    				location.href="manage.html";
		    			}else if(this.ret==0){
		    				alert("修改失败!旧密码错误!");
		    			}else if(this.ret==-1){
		    				alert("修改失败!用户名不能为空!");
		    			}
		    		})
	    		}
	    	}
	    })
	    
	    
	</script>
	
</html>