<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="easyui/themes/icon.css">
	<script type="text/javascript" src="easyui/jquery.min.js"></script>
	<script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="easyui/locale/easyui-lang-zh_CN.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
	
</head>
<style> 
 body {
   background:url("images/chocodonut.jpg")  no-repeat center center;   /*加载背景图*/   /* 背景图不平铺 */
   background-size:cover;  /* 让背景图基于容器大小伸缩 */
   background-attachment:fixed;        /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */    //此条属性必须设置否则可能无效/
   background-color:#CCCCCC;   /* 设置背景颜色，背景图加载过程中会显示背景色 */
 }
</style>
<body class="easyui-layout">
		<div id="w" class="easyui-window" title="用户登录" collapsible="false"
			minimizable="false" maximizable="false" icon="icon-save"
			style="width: 450px; height: 250px; padding: 30px; background: #fafafa;"
			data-options="closable:false,draggable:false">
			<form id="login" action="manage.html">
			<!-- menulogin -->
				<div style="margin-bottom: 20px">
					<input v-model="aname" id="aname" 
					class="easyui-textbox" 
						prompt="name" iconWidth="28" 
						data-options="label:'用户名:',required:true"
						style="width: 300px; height: 34px; padding: 10px;">
				</div>
				<div style="margin-bottom: 20px">
					<input v-model="apwd" id="apwd" 
					 class="easyui-passwordbox"  name="password"
						prompt="password" iconWidth="28"
						data-options="label:'密码:',required:true"
						style="width: 300px; height: 34px; padding: 10px">
				</div>
			
			<div style="text-align: center; padding: 5px 0">
				<a @click="login" id="loginbtn" style="vertical-align:middle ;width: 80px"
					class="easyui-linkbutton" ><span>登录</span></a>
				<a href="adminRegister.html" id="registerbtn" style="vertical-align:middle ;width: 80px"
					class="easyui-linkbutton" ><span>注册</span></a>
			</div>
			</form>
		   
		</div>
	</body>
	<script type="text/javascript">
	    var v = new Vue({
	    	el : "#login",
	    	data : {
	    		aname: "",
	    		apwd : "",
	    		ret : 0
	    	},
	    	methods : {
	    		login(){
	    			// post 请求 发送的数据量没有限制
	    			var p = new URLSearchParams(); //用于封装post请求参数
	    			//p.append("参数名","参数值");
	    			p.append("aname",$("#aname").textbox("getValue"));
	    			p.append("apwd",$("#apwd").textbox("getValue"));
	    			axios.post("admin.s?op=login",p).then(res=>{
		    			this.ret = res.data;
		    			if(this.ret == 1){
		    				$.messager.show("登陆成功");
		    				
		    				//直接通过js 跳转到main.html
		    				//location 是 JS BOM 模型中的对象, 对于表示浏览器当前的网址
		    				location.href="manage.html";
		    			}else{
		    				alert("登录失败!");
		    			}
		    		})
	    		}
	    	}
	    })
	    
	    /*当打开页面时,检查cookie 是否有loginedAccount   "loginAccount=aaa; a=1"*/
	    //通过正则表达式,获取cookie中存储的值
	    var la = document.cookie.replace(/.*loginedAname=(\w*).*/,"$1");
	    if(la){
	    	 //输出该值
	    	 console.info("==========="+la);
	    	 //account.value=la;
	    }
	</script>
</html>