<html>
<head>
  <!-- META DATA -->
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free Responsive Html5 Templates">
    <meta name="author" content="">

	<title>登录</title>
  
	<!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css"  type="text/css">
	
	<!-- Owl Carousel Assets -->
    <link href="owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="owl-carousel/owl.theme.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
	<!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
	
	<!-- Custom Fonts -->
    <link rel="stylesheet" href="font-awesome-4.4.0/css/font-awesome.min.css"  type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
	
</head>

 <body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">SweetCake</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="index.html">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="single.html">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="menu.html">Menu</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="blog.html">Blog</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="cart.html">Cart</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="login.html">Login</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="register.html">Register</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
	<!-- Navigation -->
	<header class="container">
	<form id="login" action="index.html">
		<div class="t">
		账号：<input v-model="account" id="account" value=""><br>
		密码：<input v-model="pwd" id="pwd"><br>
       验证码:
       <input  v-model="vcode" id="vcode" maxlength="4" placeholder="点击图片更换验证码">
       <img src="VerifyCodeServlet" height="20px"
           onclick="this.src='VerifyCodeServlet?a=' + new Date(); time=60">
        
        <span v-model="vtime" id="timer"></span>
        <br>
		<!-- button 默认时提交按钮 -->
		<a @click="login" id="loginbtn" style="vertical-align:middle"  ><span>登录</span></a>
		<a href="register.html" id="registerbtn" style="vertical-align:middle"><span>注册</span></a>
		</div>
	</form>    
	</header>
	<script type="text/javascript">
	    var v = new Vue({
	    	el : "#login",
	    	data : {
	    		account : "",
	    		pwd : "",
	    		vcode : "",
	    		vtime : "",
	    		ret : 0
	    	},
	    	methods : {
	    		login(){
	    			// post 请求 发送的数据量没有限制
	    			var p = new URLSearchParams(); //用于封装post请求参数
	    			//p.append("参数名","参数值");
	    			p.append("account",this.account);
	    			p.append("pwd",this.pwd);
	    			p.append("vcode",this.vcode);
	    			p.append("vtime",this.vtime);
	    			p.append("ret",this.ret);
	    			axios.post("user.s?op=login",p).then(res=>{
		    			this.ret = res.data;
		    			if(this.ret == 1){
		    				alert("登录成功!");
		    				//直接通过js 跳转到main.html
		    				//location 是 JS BOM 模型中的对象, 对于表示浏览器当前的网址
		    				location.href="index.html";
		    			}else if(this.ret == -2){
		    				alert("验证码超时!");
		    			}else if(this.ret == -1){
		    				alert("验证码错误");
		    			}else{
		    				alert("登录失败!");
		    			}
		    		})
	    		}
	    	}
	    })
	    var time=60;

	    setInterval(function(){
	    	if(time > 0){
	    		time--;
	    		timer.innerText = time;
	    	}else{
	    		timer.innerText="请刷新验证码";
	    	}
	    }, 1000);
	    /*当打开页面时,检查cookie 是否有loginedAccount   "loginAccount=aaa; a=1"*/
	    //通过正则表达式,获取cookie中存储的值
	    var la = document.cookie.replace(/.*loginedAccount=(\w*).*/,"$1");
	    if(la){
	    	 //输出该值
	    	 console.info("==========="+la);
	    	 //account.value=la;
	    }
	</script>

	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
	
		<!-- ////////////Content Box 01 -->
		<section class="box-content box-1">
			<div class="container">
				<div class="heading">
					<h2>
						<span class="hr">Welcome!</span>
					</h2>
					<div class="intro">Nulla hendrerit risus auctor, sodales lacus in, facilisis enim. Curabitur iaculis lacus leo,<br/> ut consequat tellus posuere vel.</div>
				</div>
				<div class="row">
					<p>Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin, sagittis sem nibh id elit. Duis sed odio sit.amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.</p>
				</div>
			</div>
		</section>
		<!-- ////////////Content Box 02 -->
		
	</div>
	
	<!-- FOOTER -->
	<footer>
		
		<div class="bottom-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<p>Copyright &copy; 2019.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
					</div>
					<div class="col-md-4">
						<ul class="list-inline social-buttons">
							<li><a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="list-inline quicklinks">
							<li><a href="#">Privacy Policy</a>
							</li>
							<li><a href="#">Terms of Use</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
  
	<!-- jQuery -->
	<script type="text/javascript" src="js/jquery-2.1.1.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	
	<!-- Custom Theme JavaScript -->
	<script src="js/agency.js"></script>

	<!-- Plugin JavaScript -->
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/classie.js"></script>
	<script src="js/cbpAnimatedHeader.js"></script>
	
	<!-- carousel -->
	<script src="owl-carousel/owl.carousel.js"></script>
    <script>
    $(document).ready(function() {
      $("#owl-brand").owlCarousel({
        autoPlay: 3000,
        items : 1,
		itemsDesktop : [1199,1],
        itemsDesktopSmall : [979,2],
		navigation: false,
      });
    });
    </script>
	
	<!-- Google Map -->
	<script>
		$('.maps').click(function () {
		$('.maps iframe').css("pointer-events", "auto");
	});

	$( ".maps" ).mouseleave(function() {
	  $('.maps iframe').css("pointer-events", "none"); 
	});
	</script>
</body>
</html>